.navbar {
    border-radius: 10px;
}
.device-box {
    height: auto;
    width: 1120px;
    border-radius: 10px;
}
.device div {
    height: 250px;
    width: 90%;
    background-color: #c5dfec;
    border-radius: 10px;
}
button select{
    border: none;
}
.dropdown-item:hover{
    cursor: pointer;
}