.navbar {
    border-radius: 10px;

}
.device-box {
    height: auto;
    width: 1120px;
    border-radius: 10px;
}

.device div {
    height: 250px;
    width: 90%;
    /* background-color: rgba(244, 217, 170, 0.479); */
    background-color: #c5dfec;
    border-radius: 10px;

}
button select{
    border: none;
    /* padding: 5px; */
}
.dropdown-item:hover{
    cursor: pointer;
}