<!-- devices header -->
<div class="container pt-4 position-relative">
    <nav class="navbar bg-light  ">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1 ms-4">Organisation Devices</span>
        </div>
        <button class="position-absolute top-1 end-0 me-4 btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
            devices</button>
    </nav>
</div>
<!-- devices -->
<div class="device-box container  mt-2 pt-3 ">
    <div class="container row mt-4">
        <div class="col-4 device  my-2" routerLink="">
            <div class=" d-flex justify-content-center position-relative ">
                <div class="p-3 ">
                    <button class="position-absolute top-0  end-0  btn m-1"><i class="fa fa-pencil"
                            aria-hidden="true"></i>
                    </button>
                    <h4 class="mt-4">Organisation name 1</h4>
                    <H1 class="text-center mt-1">DWLR</H1>
                    <button class="btn text-lowercase rounded-5 text-center ms-4 p-1"> turn on maintaince mode</button>
                    <p class="mt-3 end-0 me-3 position-absolute">In/out/cons/acc</p>
                </div>
            </div>
        </div>
        <div class="col-4 device  my-2" routerLink="">
            <div class=" d-flex justify-content-center position-relative ">
                <div class="p-3 ">
                    <button class="position-absolute top-0  end-0  btn m-1"><i class="fa fa-pencil"
                            aria-hidden="true"></i>
                    </button>
                    <h4 class="mt-4">Organisation name 1</h4>
                    <H1 class="text-center mt-1">ARG</H1>
                    <button class="btn text-lowercase rounded-5 text-center ms-4 p-1"> turn on maintaince mode</button>
                    <p class="mt-3 me-3 end-0 position-absolute">In/out/cons/acc</p>
                </div>
            </div>
        </div>
        <div class="col-4 device  my-2" routerLink="">
            <div class=" d-flex justify-content-center position-relative ">
                <div class="p-3 ">
                    <button class="position-absolute top-0  end-0  btn m-1"><i class="fa fa-pencil"
                            aria-hidden="true"></i>
                    </button>
                    <h4 class="mt-4">Organisation name 1</h4>
                    <H1 class="text-center mt-1">PHMC</H1>
                    <button class="btn text-lowercase rounded-5 text-center ms-4 p-1"> turn on maintaince mode</button>
                    <p class="mt-3 me-3 end-0 position-absolute ">In/out/cons/acc</p>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- organisation users -->
<app-org-users></app-org-users>