<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="https://scontent.fpnq8-1.fna.fbcdn.net/v/t39.30808-6/301982127_491499906317491_8141847469520728458_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=4tekq_3byxMAX_VV2nc&_nc_ht=scontent.fpnq8-1.fna&oh=00_AfApQ6fLvPnPFacG25tEan9KhmBwrCuD3Rz6NnFa00DCNQ&oe=6396A201"
            alt="BULFRO Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">BULFRO</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">USER NAME...</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link mt-4"  routerLink="/dashboard/org">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p style="font-weight: bold; font-size: large;">
                            Dashboard
                        </p>
                    </a>
                    <a href="#" class="nav-link mt-4 " style="font-weight: bold; font-size: large; "
                    routerLink="/dashboard/org">
                        <i class="fa-solid fa-building-columns"></i>
                        <p style="font-weight: bold; font-size: large;" class="ms-2">
                            Organisation
                        </p>
                    </a>
                    <a href="#" class="nav-link mt-4 " style="font-weight: bold; font-size: large; " routerLink="/dashboard/message">
                        <i class="fa-solid fa-envelope"></i>
                        <p style="font-weight: bold; font-size: large;" class="ms-2">
                            Messages
                        </p>
                    </a>
                    <a href="#" class="nav-link  mt-4" style="font-weight: bold; font-size: large; "
                        routerLink="/dashboard/alert">
                        <i class="fa-solid fa-bell"></i>
                        <p style="font-weight: bold; font-size: large;" class="ms-2">
                            Alert
                        </p>
                    </a>
                    
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>