<!-- dwlr details.... -->
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Device Details</h2>
            <table class="table">
                <thead>
                    <tr>
                       
                        <th scope="col">Parameter</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                       
                        <td>Device ID </td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                       
                        <td>Uuid</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                       
                        <td >Identifier</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                       
                        <td >Serial</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                       
                        <td >Cable Length </td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                       
                        <td >Lattitude</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                       
                        <td >Longitude</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                       
                        <td >Installation Date </td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                       
                        <td >Site Name </td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                       
                        <td >Location </td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                       
                        <td >Under Maintaince</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                       
                        <td >Is Active</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                       
                        <td >Mobile Number </td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                       
                        <td >Sim Number</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                       
                        <td >Contact Person</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                       
                        <td >Model Number</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                       
                        <td >Daily Msg Countq</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-6">
            <h2>Device Location</h2>
            <!-- map box -->
           <div class="container mt-4">
            <div class="map-box  bg-dark w-100 ">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15249822.21961233!2d82.75252935!3d21.068622799999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1670921110086!5m2!1sen!2sin"
                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
           </div>
        </div>
    </div>
</div>