<div class="container">
    <!-- As a heading -->
    <nav class="navbar bg-light w-50 ms-4">
        <div class="d-flex w-100">
            <div class="ms-4 ">
                <input type="date" class="form-control">
            </div>
            <div class="ms-4">
                <input type="date" class="form-control">
            </div>
            <div class="ms-4">
                <button type="button" class="btn btn-success">get Data</button>
            </div>
        </div>
    </nav>
</div>

<!-- message Details -->
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">Index</th>
            <th scope="col">Date</th>
            <th scope="col">Msg</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td> 11/13/2022</td>
            <td>Otto</td>
         
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>11/13/2022</td>
            <td>Thornton</td>
          
        </tr>
        
    </tbody>


</table>