.navbar {
    border-radius: 10px;

}

.loc-box {
    height: 600px;
    width: 1120px;
    border-radius: 10px;
}

.locations div {
    height: 180px;
    width: 100%;
    /* background-color: rgba(244, 217, 170, 0.479); */
    background-color: #c5dfec;
    border-radius: 10px;

}