<!-- sys header -->
<div class="container pt-4 position-relative">
    <nav class="navbar bg-light  ">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1 ms-4">System</span>
        </div>
        <button class="position-absolute top-1 end-0 me-4 btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
            System</button>
    </nav>
</div>
<!-- system   -->
<div class="sys-box container  mt-2 pt-3 ">
    <div class="container row mt-4">
        <div class="col-4 system  my-2" routerLink="/dashboard/devices/{{sys['id']}}" *ngFor="let sys of _state.system">
            <div class=" d-flex justify-content-center ">
                <div class="p-3">
                    <h1>{{sys['system_name']}}</h1>
                </div>
            </div>
        </div>
        <!-- {{this._state.system | json}} -->
    </div>
</div>

<!-- add -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add System</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <form class="w-75" [formGroup]="newTask" (submit)="add()">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">System Name</label>
                        <input type="text" class="form-control" placeholder="system_name" formControlName="system_name" aria-describedby="basic-addon1"><br>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Devices_id</label>
                        <input type="text" class="form-control" placeholder="devices_id" formControlName="devices_id" aria-describedby="basic-addon1"><br>
                        <!-- <select class="form-select" aria-label="Default select example">
                            <option value="3">1</option>
                            <option value="1">2</option>
                            <option value="2">3</option>
                        </select> -->
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">org_id</label>
                        <input type="text" class="form-control" placeholder="org_id" formControlName="org_id" aria-describedby="basic-addon1"><br>
                        <!-- <select class="form-select" aria-label="Default select example"></select>   
                        <option value="3">1</option>
                            <option value="1">2</option>
                            <option value="2">3</option>
                        </select> -->
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">org_location_id</label>
                        <input type="text" class="form-control" placeholder="org_location_id" formControlName="org_location_id" aria-describedby="basic-addon1"><br>
                        <!-- <select class="form-select" aria-label="Default select example">
                            <option value="3">1</option>
                            <option value="1">2</option>
                            <option value="2">3</option>
                        </select> -->
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Current Status </label>
                        <input type="text" class="form-control" placeholder="current_status" formControlName="current_status" aria-describedby="basic-addon1"><br>
                        <!-- <select class="form-select" aria-label="Default select example">
                            <option value="3">0</option>
                            <option value="1">1</option>
                          
                        </select> -->
                    </div>
                    <button type="submit" class="btn btn-success w-100">Add System</button>
                </form>
            </div>

        </div>
    </div>
</div>